title: Patrik Voříšek
description: Psychologist, writer, and thinker based in the Czech Republic.
url: "https://www.vorisek.one"
baseurl: ""

# Exclude these files from the build
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - package.json
  - README.md
  
permalink: /blog/:title/
