<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | Patrik Voříšek</title>
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>

  <header>
    <nav>
      <a href="/o-mne.html">O mně</a>
      <a href="/projekty.html">Projekty</a>
      <a href="/kontakt.html">Kontakt</a>
    </nav>
    <h1>Patrik Voříšek</h1>
  </header>

  <main>
    {{ content }}
  </main>

</body>
</html>
